{% extends "base.html" %}
{% block title %}{{ guild_name }}{% endblock %}
{% block servername %}<a href="/d/{{ guild_slug }}" id="subtitle">{{ guild_name }}</a>{% endblock %}
{% block content %}
    <div class="tip">Cliquez sur une catégorie pour afficher uniquement les articles de celle-ci</div>
    <div class="container">
    {% for dict_link in lst_dict_links %}
        <div class="grid-item">
            <div class="grid-item-title">
                {% if dict_link["channel_name"] is not none %}
                    <a href="/d/{{ guild_slug }}/?channels={{ dict_link["channel_name"] }}" class="flair">{{ dict_link["channel_name"] }}</a>
                {% endif %}
                <a href="{{ dict_link["url"] }}" target="_blank"
                    {% if dict_link["url"] == dict_link["title"] %}
                        style="word-break: break-all;"
                    {% endif %}
                >{{ dict_link["title"] }}</a>
            </div>
            <div class="details">Le: {{ dict_link["datepub"] }} | Source: {{ dict_link["site_name"] }}
            {% if dict_link["jump_url"] is not none %}
                | <a href="{{ dict_link["jump_url"]  }}" target="_blank">Voir la conversation</a>
            {% endif %}
            </div>
        </div>
    {% else %}
        Pas de lien à afficher.
    {% endfor %}

    <div class="navigation">
    {% if prev_url %}
        <a class="button" id="prev" href="{{ prev_url }}"><span>précédent</span></a>
    {% endif %}
    {% if next_url %}
    <a class="button" id="next" href="{{ next_url }}"><span>suivant</span></a>
    {% endif %}
    </div>

    </div>

{% endblock %}