{% extends "base.html" %}
{% block title %}{{ guild_name }}{% endblock %}
{% block servername %}<span>{{ guild_name }}</span>{% endblock %}
{% block content %}
    <div class="container">
    {% for dict_link in lst_dict_links %}
        <div class="grid-item">
            <div class="grid-item-title">
                {% if dict_link["channel_name"] is not none %}
                    <a href="/{{ guild_id }}/?channels={{ dict_link["channel_name"] }}" class="flair">{{ dict_link["channel_name"] }}</a>
                {% endif %}
                <a href="{{ dict_link["url"] }}">{{ dict_link["title"] }}</a>
            </div>
            <div class="details">(Le: {{ dict_link["datepub"] }} | Source: {{ dict_link["site_name"] }})</div>
        </div>
    {% endfor %}

    <div class="navigation">
    {% if prev_url %}
    <a class="button" href="{{ prev_url }}">&lt; précédent</a>
    {% endif %}
{#    {% if prev_url and next_url %}#}
{#    |#}
{#    {% endif %}#}
    {% if next_url %}
    <a class="button" href="{{ next_url }}">suivant &gt;</a>
    {% endif %}
    </div>

    </div>

{% endblock %}