:root {
    --main-color: #3b6ad9;
    --light-text-color: #696969;
    --light-bg-color: #eee;
}

* {
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.4
}

#navbar {
    background-color: var(--main-color);
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#title, a#title:link, a#title:visited, a#title, a#title:active {
    font-weight: 1000;
    font-size: x-large;
    color: white;
    text-decoration: none;
}
#subtitle, a#subtitle:link, a#subtitle:visited, a#subtitle, a#subtitle:active {
    color: white;
    text-decoration: none;
    font-weight: 300;
}

.tip {
    font-style: italic;
    font-size: 0.7em;
    color: var(--light-text-color)
}

.grid-item{
    grid-row-gap: 3px;
}

.grid-item-title > a {
    text-decoration: none;
    font-weight: bold;
    word-wrap: break-word;
}

.grid-item-title > a:link {
    color: var(--main-color);
}
.grid-item-title > a:visited {
    color: var(--main-color);
    opacity: 0.7;
}

.details, .details a:link, .details a:visited {
    color: var(--light-text-color);
    font-size: x-small;
    margin-top: 3px;
}

.content, .container {
    display: grid;
    margin: 5px;
}

.content {
    grid-row-gap: 10px;
}

.container {
    grid-row-gap: 20px;
}

a:hover {
    text-decoration: underline !important;
}

.navigation {
    text-align: center;
    margin: 10px;
}

.navigation > a {
    border-radius: 20px;
    padding: 8px 20px;
    background-color: var(--light-bg-color);
    text-decoration: none;
    color: inherit;
    border: solid;
    border-color: #a6a6a6;
    border-width: 1px;
}

.navigation > a:hover {
    text-decoration: none !important;
    opacity: 0.7;
}

.navigation > a#prev::before {
    content: "↩";
    margin-right: 10px;
}

.navigation > a#next::after {
    content: "↪";
    margin-left: 10px;
}

@media screen and (min-width: 801px) {
    .navigation {
        text-align: left;
    }
}

.flair, a.flair:link, a.flair:visited  {
    border: solid;
    border-color: #a6a6a6;
    border-width: 1px;
    color: inherit;
    background-color: var(--light-bg-color);
    font-weight:100;
    border-radius: 20px;
    padding: 1px 7px;
    font-size: 0.8em;
    margin-bottom: 3px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-color: #8ab4f8;
        --light-text-color: #969ba1;
        --light-bg-color: #2f2f2f;
    }
    body {
        background-color: #151515;
        color: white
    }
    #navbar {
        background-color: var(--light-bg-color);
    }
}