:root {
  --main-color: #4B70B4;
}

* {
    margin: 0;
}

body {
    font-family: 'Courier New', monospace;
    font-size: 16px;
    line-height: 1.4;
    background-color: #f5f1ee;
}

#navbar {
    background-color: var(--main-color);
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#title {
    font-weight: 1000;
    font-size: x-large;
}



.grid-item{
    grid-row-gap: 3px;
}

.grid-item-title {
    word-wrap: break-word;
    font-weight: 700;
}
.grid-item-title > a {
    text-decoration: none;
}
.grid-item-title > a:link {
    color: var(--main-color);
}
.grid-item-title > a:visited {
    color: var(--main-color);
    opacity: 0.70;
}

.details {
    color: #696969;
    font-size: x-small;
    pointer-events: none;
}

.grid-item-datepub {
}

.container {
    margin: 5px;
    /*padding-right: 15px;*/
    display: grid;
    grid-row-gap: 20px;
    /*justify-content: center;*/
}



.navigation {
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
    color: var(--main-color);
}

.navigation>a {
    border: solid;
    border-radius: 10px;
    border-width: 2px;
    padding: 3px;
    border-color: var(--main-color);
    text-decoration: none;
    color: var(--main-color);
}

@media screen and (min-width: 801px) {
    .navigation {
        text-align: left;
    }
}